table {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

th {
    width: 50px;
    height: 30px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
}

td {
    padding: 3px;
    text-align: left;
    border: 1px solid #ccc;
    height: 50px;
}

.sunday,
.holiday {
    color: red;
}

.other {
    color: #888;
}

.inner {
    color: rgb(163, 73, 73);
    margin-top: 15px;
    font-size: small;
    text-align: right;
}