.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 1s;
}

.box:focus {
    width: 300px;
    background-color: royalblue;
}

input:hover {
    background-color: royalblue;
}

.img {
    border: 4px solid red;
}

#img_house {
    border: 3px dotted blue;
}

div span {
    text-align: center;
    size: 5;
}

td {
    width: 100px;
    border: 1px solid black;
}